.main{
   display: flex;
   align-items: center;
   flex-direction: column;
   height: 90vh;
   width: 100vw;
}
.section1{
    p{
        width: 64vw; 
        height: 5vh; 
        margin-left: 3vw; 
        margin-top: 3vh; 
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 24px; 
        line-height: 3.75vh; 
        text-align: center; 
        color: #000000;
    }
}
.section2{
    background-image: url(../../assets/retangulo.png);
    width: 442px;
    height: 598px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.sectionimg{
    height: 22vh;
    display: flex;
    align-items: center;
    h1{
        width: 221px; 
        height: 20px;
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 20px; 
        line-height: 24px; 
        text-align: center; 
        color: #005695;
     }
}
.section3{
    width: 20vw; 
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    input{
        border: solid 2px #005695;
        border-radius: 20px;
        background-color: transparent;
        width: 325px;
        height: 42px;
        font-size: 20px;
        font-size: 14px;
        color: #000000;
        padding: 5%;
  
        &::placeholder {
            font-size: 14px;
            color: #000000;
      }
    }
}
.section4{
    height: 18vh;
    display: flex;
    align-items: center;
        Input{
        border: solid #005695;
        border-radius: 20px;
        margin-right: 1%;
        background-color: #005695;
        width: 195px;
        height: 53px;
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 20px; 
        line-height: 3.10vh; 
        text-align: center; 
        color: #FFFFFF;        
        }
}
@media(max-width:730px){
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90vh;
        width: 100vw;
     }
     .section1{
         p{
             width: 89vw; 
             height: 5vh; 
             margin-left: 0vw; 
             margin-top: 0vh; 
             font-family: 'Inter'; 
             font-style: normal; 
             font-weight: 400; 
             font-size: 24px; 
             line-height: 3.75vh; 
             text-align: center; 
             color: #000000;
         }
     }
     .section2{
         background-image: url(../../assets/retangulo.png);
         background-size: cover;
         width: 360px;
         height: 487px;
         display: flex;
         flex-direction: column;
         align-items: center;   
     }
     .sectionimg{
        height: 22vh;
        display: flex;
        align-items: center;
         h1{
            width: 221px; 
            height: 20px;
            font-family: 'Inter'; 
            font-style: normal; 
            font-weight: 400; 
            font-size: 20px; 
            line-height: 24px; 
            text-align: center; 
            color: #005695;
         }
     }
     .section3{
         width: 20vw; 
         height: 35vh;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         input{
             border: solid #005695;
             border-radius: 20px;
             background-color: transparent;
             width: 325px;
             height: 42px;
             font-size: 20px;
       
             &::placeholder {
                 position: relative;
                 left: 7%;
                 font-size: 14px;
                 color: #000000;
           }
         }
     }
     .section4{
         height: 18vh;
         display: flex;
         align-items: center;
             Button{
             border: solid #005695;
             border-radius: 20px;
             margin-right: 1%;
             background-color: #005695;
             width: 137px;
             height: 44px;
             font-family: 'Inter'; 
             font-style: normal; 
             font-weight: 400; 
             font-size: 20px; 
             line-height: 3.10vh; 
             text-align: center; 
             color: #FFFFFF;        
             }
     }

}