.section1{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section2{
   width: 85vw;
   height: 60vh;
   display: flex;
   justify-content: space-evenly;
   article{
    border: solid 2px #005695;
    width: 15vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-left: 1vw;
    h3{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    img{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
   }
}

@media(max-width: 1000px){
    .section1{
        justify-content: space-around;
        
    }
    .section2{
        
        article{
            width: 200px;
            height: 230px;
        }
    }
}

@media(max-width: 520px){
    .section1{
        flex-wrap: wrap;
        gap: 10px;
        height: auto;
    }
    .section2{
        height: auto;
        padding-bottom: 20px;
    }
}
