.section1{
    min-height: 70vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem; // espaço extra se necessário
    h2{
        margin-bottom: 2vh;
    }
}

.section2{
   width: 85vw;
   min-height: 60vh;
   height: auto;
   display: flex;
   flex-wrap: wrap; // permite quebrar linha
   justify-content: center;
   gap: 1rem; // espaço entre os cards
   article{
    border: solid 2px #005695;
    width: 200px; // largura fixa e responsiva
    min-height: 35vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-left: 1vw;
    h3{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    img{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
   }
}

@media(max-width: 1000px){
    .section1{
        justify-content: space-around;
        
    }
    .section2{
        justify-content: center;
        article{
            width: 180px;
            height: 220px;
        }
    }
}

@media (max-width: 768px) {
  .section1 {
    height: auto;
    padding-bottom: 3rem;
  }
}

@media(max-width: 520px){
    .section1{
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
    }
    .section2{
        height: auto;
        justify-content: center;
        article {
        width: 100%; // usa toda a largura da tela
        max-width: 320px;
        }       
    }
}
